@model _18._10_Best_Films_MVC.Models.Film

@{
	ViewData["Title"] = "Удалить фильм";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Вы уверенны, что хотите удалить этот фильм?</h1>

<div class="film-card" style="background-color:lightyellow">
	<img src=@Model?.PosterPath alt="Постер фильма" width="350px" height="500px" />
	<div id="film-data">
		<p>Название фильма: @Model?.Name</p>
		<p>Режиссёр: @Model?.Director</p>
		<p>Жанр: @Model?.Genre</p>
		<p>Год выпуска: @Model?.ReleaseYear</p>
		<p>Краткое описание: @Model?.Description</p>
		<hr />
		<form asp-action="Delete">
			<input type="hidden" asp-for="Id" />
			<input type="submit" value="Delete" class="btn btn-danger" />
		</form>
	</div>
</div>